#tweets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
}

#tweets-container article {
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  width: 100%;
  margin: auto;
}

#tweets-container article:hover {
  box-shadow: 0.6em 0.6em 0 0 grey;
}

.tweets-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .tewets-header p {
  margin: 1.5em;
} */

main article p {
  display: flex;
  justify-content: space-around;
}

main article {
  border: 5px solid;
}

/* .tweets-header p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.user-icon {
  justify-content: flex-start;
  margin: 1em;
  width: auto;
}

.name {
  justify-content: flex-start;
  margin: 1em;
}

.username {
  justify-content: flex-end;
  margin: 1em;
}


.tweet-body {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  margin-right: 2em;
  border-bottom: 3px solid;
  font-weight: 600;
}

.tweets-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2em;
}

.date-stamp {
  margin: 1em;
  justify-content: flex-start;
}

.tweet-icon {
  margin: 1em;
  justify-content: flex-end;
}

